In [2]:
import pickle 
import pandas as pd

In [8]:
df = pd.read_csv('netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [9]:
df = df[(df['type'] == 'Movie') & (df['country'] == 'United States')]
df = df.reset_index(drop=True)
df.shape

(1482, 12)

In [10]:
#import vectorizer and model
tfidf = pickle.load(open("vect_01.pkl", "rb"))
nn = pickle.load(open("knn_01.pkl", "rb"))

In [11]:
movie = ["vampire"]

In [12]:
new = tfidf.transform(movie)
nn.kneighbors(new.todense())
recommendations = nn.kneighbors(new.todense())[1].tolist()[0]
df[['type','title','cast','listed_in','description']].iloc[recommendations]

,type,title,cast,listed_in,description
1032,Movie,"Monster High: Frights, Camera, Action!","Sue Swan, Kate Higgins, Celeste Henderson, Mar...",Children & Family Movies,Draculaura is whisked to Transylvania to be cr...
331,Movie,"Liar, Liar, Vampire","Rahart Adams, Brec Bassinger, Tiera Skovbye, L...","Children & Family Movies, Comedies","When a shy teen transfers to a new school, he ..."
1432,Movie,Cirque du Freak: The Vampire's Assistant,"John C. Reilly, Ken Watanabe, Josh Hutcherson,...","Action & Adventure, Horror Movies, Sci-Fi & Fa...",When Darren Shan is taken to a circus that's c...
1094,Movie,Trash Fire,"Adrian Grenier, Angela Trimbur, AnnaLynne McCo...","Comedies, Dramas, Independent Movies",Surprise news that his girlfriend is pregnant ...
1064,Movie,The Cloverfield Paradox,"Gugu Mbatha-Raw, David Oyelowo, Daniel Brühl, ...","Action & Adventure, Sci-Fi & Fantasy","Orbiting above a planet on the brink of war, s..."